.PersonalInfo{
    display: inline-block;
    margin: 0;
    padding: 0px;
    background: url(../../assests/brand-photo.jpg) no-repeat center;
    background-size: cover;
    height: auto;
}

.snippet{
    width: auto;
    margin: 20px;
    margin-top: 30px;
    padding: 0px 0 50px 0;
    background-color: rgba(197, 198, 199, 0.5);
    border: 10px #45a29e solid;
    text-align: center;
}

.name-title{
    padding-top: 40px;
    font-size: 40px;
}

.brand-statement{
    padding: 20px;
    font-size: 1.2em;
    line-height: 30px;
}

.social-media-icon{
    padding: 20px;
    margin: 0 auto;
    display: inline-block;
}

.icon{
    height: 40px;
    width: 40px;
}

.icon:hover,
.icon:focus{
    filter: invert(100%) sepia(50%);
    cursor: pointer;
}

@media (min-width: 550px){
    
    .snippet{
        width: 70%;
        margin: 30px auto;
    }
}