.work-experience{
    background-color: #fff;
    margin-top: 0;
    text-align: center;
}

.w-title{
    font-size: 1.3em;
    padding-top: 100px;
}
.block{
    height: 1px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 40px;
    border-style: solid;
    border-color: #45a29e;
    background-color: #45a29e;
    
}

@media(min-width: 1024px){
    
    .work-experience{
       height: auto;
       margin-bottom: 100px;
    }
    
    .w-title{
        font-size: 1.6em;
        text-align: left;
        padding-left: 100px;
        margin-bottom: 5px;
    }
    .block{
        float: left;
        width: 1%;
    }
}