.work-info{
    margin: 0;
    padding: 0;
    text-align: center;
}
.work-title{
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
}
.role-date{
    font-size: 1.1em;
    padding: 10px;
    font-style: italic;
    font-weight: 600;
}
.description{
    padding: 20px;
    letter-spacing: 0.4px;
    text-align: justify;
    line-height: 26px;
    
}

@media(min-width: 1024px){
  
    .work-info{
        margin-bottom: 100px;
    }

    .work-title,
    .role-date{
        text-align: left;
        width: 50%;
        margin-top: 80px;
        font-size: 1.8em;
        padding-left: 25px;
    }
    .work-title{
        margin-bottom: 30px;
    }
    .role-date{
        font-size: 1.5em;
    }
    .description{
        width: 50%;
        text-align: justify;
        margin: 0 auto;
        font-size: 1.25em;
    }
    
    
}